*, *:before, *:after {
  box-sizing: border-box;
}

html {
  @include set-font-family();
  font-size: $base-font-size-px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
}

/// remove browser native input styling
input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  @include set-font-family();
}

/// turn off browser default focus outlines
input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  background: inherit;
  border-radius: inherit;
  cursor: pointer;
}
